<div class="container">

    <div class="row">

        <div class="col-xs-12">

                <div class="alert alert-primary">
                        <h4>BOOK DETAILS</h4> 
                </div>
    
                <div class="card">
    
                    <div class="card-body">
                        
                        <h5>NAME : {{ book.name }}</h5>
                        <h5>SUBJECT : {{ book.subject }}</h5>
                        <h5>AUTHOR : {{ book.author }}</h5>
                        <h5>ID : {{ book.id }}</h5>                       
                                                                        
                    </div>

        </div>

            

            </div>
    </div>
    

</div>

