<div class="container">

    <div class="row">

        <div class="col-xs-6">

                <div class="alert alert-success">
                        <h4>BOOK DETAILS</h4> 
                </div>
    
                <div class="card">
    
                    <div class="card-body" *ngIf="gotBook">
                        
                        <h5><strong>NAME</strong> : {{ book.name }}</h5>
                        <h5><strong>SUBJECT</strong> : {{ book.subject }}</h5>
                        <h5><strong>AUTHOR</strong> : {{ book.author }}</h5>
                        <h5><strong>ID</strong> : {{ book.id}}</h5>    
                        <h5><strong>Requested Users:</strong></h5>
                        <ul>
                            <tr id="users" *ngFor="let username of userNames">
                                <td><b>{{username}}</b></td>
                                <td><a class="btn btn-success">Allow</a></td>
                                <td><a class="btn btn-info">Deny</a></td>
                            </tr>
                            
                        </ul>                   
                                                                        
                    </div>

        </div>

            

            </div>
    </div>
    

</div>

