<hr>
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
<table>
    <tr>
        <th>USER NAME</th>
        <th>EMAIL</th>
        <!-- <th>BLOCK BUTTON</th> -->
    </tr>
            <tr *ngFor="let user of Users">
                <td *ngIf="user.type !='admin'"> {{ user.username }} </td>
                <td *ngIf="user.type !='admin'"> {{ user.email}} </td>
                <!-- <td> 
                    <a class="btn btn-primary" href="/admin/allusers">BLOCK</a>
                </td> -->
            </tr>
</table>
