<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    .text{
        color: crimson;
        font-size: 90px;
        font-family: myFirstFont;
        margin: 40px 0px;
    }
    .books{
        margin: 40px 20px;
 
    }
    .buttonA{
        margin: auto 400px;
    }
    .buttonB{
        margin: auto 405px;
    }
    /* body{
        background: linear-gradient(180deg, grey, white);
    } */



</style>

<body>
        <div class="container">
         
        <div class="row">
            <div class="col-md-4">
                <div class="books">
                    <img class="pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAtMUysHlaWhEMBmPdhVwNRg8T8YM8l0i4PD4Il49PU4mKv00d">
                </div>
                </div>
            <div class="col-md-4">
                <div class="text">
                    BOOK ZONE
                </div>
            </div>
            <div class="col-md-4">
                    <div class="books">
                            <img class="pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAtMUysHlaWhEMBmPdhVwNRg8T8YM8l0i4PD4Il49PU4mKv00d">
                        </div>
            </div>
        </div>
        <div class="buttonA">
        <div class="row">
            
                    <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-lg" routerLink="/signinAdmin">Admin</button>
                        </div>
        </div>
        </div>
        <div class="buttonB">     
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-lg" routerLink="/signin">User</button>
                        </div>
                     </div>
        </div>
        </div>
</body>
